/*********************************PHẦN NỘI DUNG CHUNG CHO CẢ WEBSITE*******************************/
/* Reset css không để nội dung kích thước mặc định */
*{
    padding: 0;
    margin: 0;
    /* tự điều chỉnh lại kích thước khi có margin-padding--> không làm gia tăng kích thước */
    box-sizing: border-box;
}
/* định nghĩa các id trong css */
/* 
 xây dựng bố cục:
  1/ vị trí?
  2/ kích thước?
  3/ màu sắc?
  4/ kiểu dáng(kiểu chũ, hình tròn, vuông....)
*/

/* thẻ bao toàn cục cho web */
#Wraper{
 
}

html{
    /* set font chữ chung cho web */
    font-family: 'Times New Roman', Times, serif;
}


/*************************COMMON**********************************************************/
/**********Các mục thiết lập dùng chung có thể tái sử dụng nhiều lần**********************/
.text-white{
    /*Lưu ý !important thứ tự ưu tiên trong css thì nó là ưu tiên hàng đầu*/
    color: #fff !important;
}

/*cách phần chia các row và column > tái sử dụng nhiều lần*/
.row{
  margin-left: -8px;
  margin-right: -8px;
}

/*tạo pseudo-element giả để tránh hiệu ứng float:left làm mất lk của thẻ cha bao nó???
=>  phần tử giả được sử dụng để chèn một số nội dung vào sau(cuối) nội dung của một phần tử.*/
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third{
    width: calc(100%/3);
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

/*canh giữa tất cả nội dung*/
.text-align{
    text-align: center;
}




/* *********************************************************************************************************************** */
/* ===================================HEADER(NAV)=============================================== */
/* *********************************************************************************************************************** */
/* phần thẻ header */
#header{
   height: 46px;
   background-color: black;
   /* thuộc tính position: fixed giúp giữ nguyên vị trí thanh nav header
   dù scroll tới cúi trang */
   position: fixed;
   /* tùy chỉnh vị trí giúp tránh mất khối khi dùng posotion 
   khi dùng position: fixed thì nó sẽ khuyết khối do các đinh nghĩa 
   trc đó nên dùng left, right, top để định lại vj trí cố định 
   cho thanh nav hỗ trợ position
   */
   left: 0;
   right: 0;
   top:0;

   /*z-index độ ưu tiên thứ tự hiển thị giúp phần header luôn nỏi không bị đè bởi slider... */
   z-index: 1;

}
/* tùy chỉnh thẻ nav inline-block để thẻ nav chỉ lấy đúng phần cần lấy không chiếm hết khối */
#nav{
    display: inline-block;
}

#nav, .subnav{
    /* giúp xóa các dấu chấm tròn của các ul>li */
    list-style-type: none;
}

/* định dang thẻ nã của mục header */
#nav li{
    /* inline-bloc dạng hiển thị cho nằm ngang đều một hàng */
   display: inline-block;
   /* thiết lập Position:relavtive-> định vị trí tuyệt đối cho thẻ cha không bị xê dịch  */
   position: relative;

}
/* biểu thị dấu > để hiểu là chỉ trực tiếp thẻ li a nào của id #nav mới chịu màu trắng thui */
#nav > li > a{
    /* tạo màu chữ cho các tên mục ở thẻ a */
    color: #fff;    
    /* thuộc tính giúp các mục trong li>a của id nav đều đc in hoa */
    text-transform: uppercase;
}

#nav li a{
  
    /* thẻ line-heigth: giúp căn chỉnh chữ đều padding so với box bao xung quanh */
    line-height: 46px;
    /* tùy chình khoản cách nội dung tên mục giữa cac mục nav: trên dưới, trái phải */
    padding: 0px 24px;
    /* bỏ gạch chân của nội dung text mục */
    text-decoration: none;
    font-size: 15px;
}

/* tạo hiệu ứng hover khi nhấn vào các mục tên trên nav-> lưu ý dùng dâu > chỉ hiển thị ở li a của #nav thui */
#nav > li > a:hover{
    color:#000!important;
    background-color: #ccc!important;
    /* nó giúp hover full box: vì nó không định đc kích thước nên nó chỉ biết là lấy full */
    display: inline-block;
}

/* thẻ subnav- các mục con của nav>li>a "More" */
#nav .subnav{
    /* ẩn đi thuộc tính subnav vứi none- túc ẩn đi mấy <li> con của <li>more</li> */
  display: none;
  /* position:absolute-giúp định vị trí tuyệt đối cho thành phần theo thành phần bao ngoài
  nghĩa là nó hiểu thẻ nav li ở trên là thẻ cha và nó sẽ làm thẻ con giữ vị trí cố định  */
  position: absolute;
  background-color: #fff;
  /* thuộc tính tạo đổ bóng cho hộp thoai */
  box-shadow:0 0 10px black ;
  /* đặt chiều ngang tối thiểu cho hộp thoại subbox */
  min-width: 60px;
}


/* định màu chữ cho các mục item của class.subnav */
#nav .subnav a{
    color:black;
    font-weight: bold;
    /*  chỉnh chiều cao padding của nội dung các mục ia>a của subnav nhỏ lại */
    line-height: 38px;
}

/* tạo pseudo class: hover khi nhấn vào more nó hiện subnav con */
#nav li:hover .subnav{
    display: block;
}

/* tạo pseudo class: hover vào các li a của class subnav */
#nav .subnav  li:hover {
    color:#000!important;
    background-color: #ccc!important;
    /* nó giúp hover full box: vì nó không định đc kích thước nên nó chỉ biết là lấy full */
    display: block;

}

/* themify icons support web */
#nav .edit-icon-down{
    /* tùy chỉnh kích thước icon down */
    font-size: 10px;
}

/* tùy chỉnh thẻ bao cho nút search */
#header .search-btn{
   float: right;
   padding: 0 20px;
}
/* sữa icon themify icon search */
#header .edit-icon-search{
   color: white;
   font-size: 20px;
   /* căn chỉnh đều nội dung theo chiều cao  */
   line-height: 46px;
}
/* tuyef chỉnh over: icon search */
#header .search-btn:hover{
    background-color: #f44336!important;
    display: block;
    /* thuộc tính hiển thị icon chuột khi hover vào đối tượng
    ngoài all-scroll có thể tham khảo rất nhiều cái khác
    */
    cursor: all-scroll;
}








/* *********************************************************************************************************************** */
/* =====================================Slider(ảnh động chuyển )=========================================== */
/* *********************************************************************************************************************** */
/* tạo ảnh chuyển */
#slider
{
 /* xác định đây là vị trí cha với các thuộc tính cố định đc thiết lặp ở trên */
  position: relative;
  margin-top: 46px;
  /* tùy chỉnh kích thước thẻ slider chiếm 50% chiều ngang của chính nó
  để khi co giãn thu nhỏ phóng to nó tự điều chỉnh bằng 50% kích thước ban đầu
  tạo độ tương thích
  */
  padding-top: 50%;
  /*cách viết tắt: 
   background: url('../img/band4.jpg') top center / cover no-repeat;
    + trong đó:
      ++ top center: giúp canh giữa
      ++ cover: được sử dụng để chỉ định kích thước của hình nền (background) sao
       cho nó bao phủ hoàn toàn phần nội dung của phần tử.
      ++ no-repeat: tránh lặp lại ảnh
  */

  /* dẫn url ảnh */
  background-image: url('../img/band3.jpg');
  /* vị trí đc canh đều giữa */
  background-position: top center;
  /* tùy chỉnh độ phủ kích thước bao hết slider */
  background-size: cover;
  /* tránh lặp ảnh */
  background-repeat: no-repeat;

}




/* tùy chỉnh content cha */
#slider .text-content{
  /* xác định position:absoblue để nó hiểu rằng thuộc tính vị trí
  phụ thuộc vào thẻ cha position:relative mà cụ thể là
  #slider của nó ở trên */
  position: absolute;
  /* thiết lập k/c dưới 47px */
  top: 47px;
  /* canh lề từ trái qua 50% chiều ngang của thẻ div = text-content */
  /* left: 50%; */
  /* chỉnh vị trí lùi lại theo trục x là chiều ngang width */
  /* transform: translateX(-50%); */

  /*==>  cách đơn gian hơn là chỉnh width: 100% hoặc right 0, left 0 */
  /* right: 0px;
  left: 0px; */
  width: 100%;

  /* cho nội dung cảnh đêu giữa-> lưu ý nội dung không phải thẻ div chưa nộindung */
  text-align: center;
  color: #f44336;
  font-weight: bold;
  /* đổ bóng cho chữa */
  text-shadow: 0 0 10px #000;
}
/* tùy chỉnh content con */
#slider .text-heading{
   margin-bottom: 10px;
   font-size: 60px;
}

/* tuy chỉnh mô tả */
#slider .text-description{
    margin-top: 10px;
    font-size: 40px ;
}




/* *********************************************************************************************************************** */
/* =================================Content(Nội dung chính-phần thân web)================================================= */
/* *********************************************************************************************************************** */
/* nội dung phần thân */



/* ==================================================================*/
/* >>>> About */
#content{
   
}

#content .content-section{
  width: 800px;
  /* Tự căn chỉnh phần hộp bao content đều hai bên trái phải
  --> mặc nhiên nó sẽ ra giữa
  */
  margin-left: auto;
  margin-right: auto;

  /* căn chỉnh đều nội dung  trong hộp div content */
  padding:64px 0px ;
}

/* căn chỉnh vị trí và tùy chỉnh cho 2 mục heading và subheading của thẻ div content */
#content .section-heading,
#content .section-subheading{
    text-align: center;
    margin-bottom: 10px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    /* thuộc tính letter-spacng: giúp giản các chữ ra trong một dòng */
    letter-spacing: 6px;
  
}

#content .section-subheading{
    font-size: 15px;
    font-style: italic;
    /* tạo độ mờ của chữ */
    opacity: 0.6;
}

/* tùy chỉnh content chính của about */
#content .about-content{
    /* justify thuộc tính căn đều  văn bản */
  text-align: justify;
  font-size: 18px;
  /* line-height căn chỉnh độ cao và rộng của chữ văn bản */
  line-height: 1.5;
}
/* các member thành viên */
#content .member-list{
   margin-top: 48px;
   margin-bottom: 10px;
   /* khi định vị trí bằng float: thì thẻ cha member-list
   cũng mất định tính bao các thẻ con-> nên dùng margin-bottom: bao nhiêu cũng mất đi định vj đó
   overflow: hidden làm khắc phục điều đó giúp thẻ member-list vẫn giữ đc khối bao các thẻ con bên trng
   nên định marin khộng bị lỗi */
   overflow: hidden;
}


#content .member-text{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    /* bo ảnh gốc tròn */
    border-radius: 10px;
}



/* ============================================ */
/* Mục TourDates -> các ljch trình và nơi diễn ra sự kiện âm nhạc */
.tour-section{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.tour-section  ul  li{
   list-style-type: none;
}

.ticket-list{
    background: #fff;
    margin-top: 40px;
    padding: 10px;
}
.ticket-list .sold-out{
   
    width: 50;
    height: 80;
    background-color: #f44336;
    color: #fff;
    padding: 6px 8px;
    margin-left: 10px;
}
.ticket-list .quanlity{
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    font-weight: bold;
    float: right;
}

.ticket-list>li{
   padding: 11px 16px;
   font-size: 16px;
   border-bottom: solid 1px rgb(197, 188, 188);
   color: #757575;
}


/**************************CONTENT TOUR PLACES*******************************/
/*các địa điểm du lịch tour Places*/
.place-list{
  margin-top: 32px;
  margin-bottom: 48px;
}

.place-img{
  /*Lưu ý dù có chia tỉ lệ điều như thế nào ở thẻ cha chứa img thì ảnh nó cũng khg
  tự thu nhỏ lại vì vậy ta cần chỉnh img: width về 100% thì mặc nhiên nó sẽ chiệu
  ảnh hưởng từ hiệu ứng của thẻ cha place-item với width có tỉ lệ chia 3 như trên*/
  width: 100%;
  padding: 0 8px;
   /*đưa về hiển thị chung khối để img và khối place-body bên dưới dính với nhau thnahf một khối
   -> khắc phục th nó bị tách ra khoản hở nhỏ*/
   display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    margin: 0 8px 0;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: bold
}
.place-time{
    margin-top: 15px;
    opacity: 0.7;
}
.place-note{
    margin-top: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}
.place-buy-btn{
   margin-top: 30px;
   background-color: #0b0909;
   color: #fff;
   padding: 10px 15px;
   text-decoration: none;
   font-weight: bold;
}
.place-buy-btn:hover{
   background: #8b8787;
}


/*******************************Modal tickets*************************************/
/**Phần css ticket modal hộp thoại xuất hiện khi nhấn nút but tickets sẽ hiện ra**/
/*tạo màn mờ khi hiện hộp thoại mkodal tickets lên*/
.modal{
    position: fixed; /* tránh trôi mất -> giữ cố định*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    /*biến thuộc tính modal thành một container dạng flex để dể dạng sử dụng các thuộc 
    tính của flexbox, hay định vị trí alignt... -> xem lại kt về phân chia bố cục với flexbox*/
    /* display: flex; */
    align-items: center; /* căn chỉnh theo trục dọc y*/
    justify-content: center; /*căn chỉnh theo trục ngang x*/

    /*********tiến hảnh ẩn đi hộp thoại => để khi nhấn nút buy tickets thì nó mới hiện lên********/
    display: none;
}

/*class này để xử lý js khi nhấn button buy tickets thì classlist thêm class này để
display:flex <=> còn khi không nhấn thì display của modal sẽ mất đi open-modal
tức mất đi display:none ẩn đi hộp thoại tickets modal*/
.modal.open-modal{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    /*tùy chỉnh reponsive cho hộp thoại tương tích khi bị thu nhỏ lại
    => xem kiến thức về responsive để 
    <=>mục tiêu là khi thu nhỏ thì dựa tổng kích thước gốc khi nó thu 
    nhỏ lạ thì vẫn giữ đc mỗi bên cách trái phải 16px*/
    max-width: calc(100%-32px);

    min-height: 250px;
    position: relative; /*định ví trí truyệt đối cho thẻ cha*/

    /*sử dụng hiệu ứng animation với @keyframes để  tạo độ mượt khi trượt xuất hiện
    hộp thoại modal
     - các phần xuất hiện trong animation
      + <tên keyframe>
      + hàm thời gian timing function(xem lại kt xẽ rõ)
      + đỗ trễ delay - sự thay đổi chuyển động trong khoản 0.3s*/
    animation: modal_apear  ease-in-out  0.6s;
}

header.modal-header{
    background: #009688!important;
    color: #fff!important;
    padding: 32px 16px;
    text-align: center;
    /*k/c giữa các ký tự*/
    letter-spacing: 4px;
    font-size: 30px;
}

/*dấu x*/
.modal-close-btn{
    /*dịnh vị trí tuyệt đối cho thẻ con này asoblute ám chỉ thẻ con phụ thuộc
    trực tiếp thẻ cha có position relative ở bên trên => tạo siwj liên kết vị trí 
    giữa thẻ cha và thẻ con tối ưu hơn*/
  position: absolute;
  right: 0;
  color: #fff;
  padding: 20px;
  /*tạo hiệu ứng khi rê chuột vào sẽ hiện hình con trỏ chuột hình bàn tay*/
  cursor: pointer;
  opacity: 0.5;
}
.modal-close-btn:hover{
    background-color: #ccc;
}
.modal-body{
    /* display: flex;
    flex-direction: column; */
    padding: 16px;
}
.modal-label{
  margin: 10px 0;
  /*đữa khối label tách thành khối riêng để nó tách biệt khối với thẻ input
  -> tự giác input sẽ tách thành hàng riêng*/
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc!important;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
 width: 100%;
 padding: 16px;
 text-align: center;
 font-size: 18px;
 background-color:#009688;
 color: #fff;
 border: none;
 cursor: pointer;
}

#buy-tickets:hover{
    background-color: #757575;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #009688;
}


/*Khởi tạo hiệu ứng animation khi xuất hiện hộp thoại Modal một cách mượt mà từ trên xuống*/
/*
 /*đoạn mã " @keyframes" được sử dụng để định nghĩa các hoạt động hoặc chuyển động tùy chỉnh
  (animations) cho các phần tử HTML. " @keyframes" cho phép bạn xác định các bước trung gian 
  trong quá trình hoạt động của phần tử từ trạng thái này sang trạng thái khác.
  + from: trạng thái ban đầu
  + to: trạng thái sau khi hoàn thành
  ==> trong css muốn sử dụng @keyframe thì dùng thuộc tính animation
*/
@keyframes modal_apear{
    from{
        /*
        => transform: sử dụng để thay đổi hình dạng, vị trí và kích thước của một phần tử HTML mà không
        làm thay đổi luồng dữ liệu của trang web.
        => thuộc tính translateY: di chuyển phần tử theo trục xác định là Y..*/
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    /*
        => mục đich như sau:
        + ban đầu cho nó giựt lên -100px -> tức là ban đầu nó xuất hiện ỏ vịt rí -100px
        + sau đó thả nó rới xuống vị trí ban đầu tức 0px
        --> đưa hiệu ứng animation vào class modal-container(thẻ chứa tất cả
        hiệu ứng của modal)
    */
}




/*****************************************************************************/
/*****************CONTACT FORM*************************************/
.contact-content{ 
    padding-top: 48px;
}
.contact-info-text{
    font-size: 18px;
    line-height: 1.4;
}
/*cách thứ để chỉnh hiệu ứng cho tất cả các element có bắt đầu bằng chữ: "ti-"*/
.contact-info-text i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
   padding: 8px;
   margin-bottom: 5px;
   border: 0.5px solid rgb(143, 140, 140);
   width: 100%;
}
.contact-submit{
    margin-top: 10px;
    padding: 10px;
    float:right;
    background: #000;
    color: #fff;
}
.contact-submit:hover{
    opacity: 0.5;
}


/***********************************************************************
/*****************Image*************************/
.background-img img{
    width: 100%;
}



/* *********************************************************************************************************************** */
/* ======================================Footer(phần nội dung cuối trang)=========================================== */
/* *********************************************************************************************************************** */
/* thẻ tiêu đề cúi trang */
#footer{
  background-color: #ccc;
  height: 250px;
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list{
  font-size: 20px;
}

#footer .social-list a{
    color: #7c8584;
    text-decoration: none;
  }

#footer .social-list a  :hover{
    opacity: 0.5;
}

.footer-text{
    color:#716f6f
}
.footer-text a{
    color:#7c7b7b
}
