/*********************************PHẦN NỘI DUNG CHUNG CHO CẢ WEBSITE*******************************/
/* Reset css không để nội dung kích thước mặc định */
*{
    padding: 0;
    margin: 0;
    /* tự điều chỉnh lại kích thước khi có margin-padding--> không làm gia tăng kích thước */
    box-sizing: border-box;
}
/* định nghĩa các id trong css */
/* 
 xây dựng bố cục:
  1/ vị trí?
  2/ kích thước?
  3/ màu sắc?
  4/ kiểu dáng(kiểu chũ, hình tròn, vuông....)
*/

/* thẻ bao toàn cục cho web */
#Wraper{
 
}

html{
    /* set font chữ chung cho web */
    font-family: 'Times New Roman', Times, serif;
}

/**********Các mục thiết lập dùng chung có thể tái sử dụng nhiều lần**********************/
.text-white{
    /*Lưu ý !important thứ tự ưu tiên trong css thì nó là ưu tiên hàng đầu*/
    color: #fff !important;
}


/* *********************************************************************************************************************** */
/* ===================================HEADER(NAV)=============================================== */
/* *********************************************************************************************************************** */
/* phần thẻ header */
#header{
   height: 46px;
   background-color: black;
   /* thuộc tính position: fixed giúp giữ nguyên vị trí thanh nav header
   dù scroll tới cúi trang */
   position: fixed;
   /* tùy chỉnh vị trí giúp tránh mất khối khi dùng posotion 
   khi dùng position: fixed thì nó sẽ khuyết khối do các đinh nghĩa 
   trc đó nên dùng left, right, top để định lại vj trí cố định 
   cho thanh nav hỗ trợ position
   */
   left: 0;
   right: 0;
   top:0;

   /*z-index độ ưu tiên thứ tự hiển thị giúp phần header luôn nỏi không bị đè bởi slider... */
   z-index: 1;

}
/* tùy chỉnh thẻ nav inline-block để thẻ nav chỉ lấy đúng phần cần lấy không chiếm hết khối */
#nav{
    display: inline-block;
}

#nav, .subnav{
    /* giúp xóa các dấu chấm tròn của các ul>li */
    list-style-type: none;
}

/* định dang thẻ nã của mục header */
#nav li{
    /* inline-bloc dạng hiển thị cho nằm ngang đều một hàng */
   display: inline-block;
   /* thiết lập Position:relavtive-> định vị trí tuyệt đối cho thẻ cha không bị xê dịch  */
   position: relative;

}
/* biểu thị dấu > để hiểu là chỉ trực tiếp thẻ li a nào của id #nav mới chịu màu trắng thui */
#nav > li > a{
    /* tạo màu chữ cho các tên mục ở thẻ a */
    color: #fff;    
    /* thuộc tính giúp các mục trong li>a của id nav đều đc in hoa */
    text-transform: uppercase;
}

#nav li a{
  
    /* thẻ line-heigth: giúp căn chỉnh chữ đều padding so với box bao xung quanh */
    line-height: 46px;
    /* tùy chình khoản cách nội dung tên mục giữa cac mục nav: trên dưới, trái phải */
    padding: 0px 24px;
    /* bỏ gạch chân của nội dung text mục */
    text-decoration: none;
    font-size: 15px;
}

/* tạo hiệu ứng hover khi nhấn vào các mục tên trên nav-> lưu ý dùng dâu > chỉ hiển thị ở li a của #nav thui */
#nav > li > a:hover{
    color:#000!important;
    background-color: #ccc!important;
    /* nó giúp hover full box: vì nó không định đc kích thước nên nó chỉ biết là lấy full */
    display: inline-block;
}

/* thẻ subnav- các mục con của nav>li>a "More" */
#nav .subnav{
    /* ẩn đi thuộc tính subnav vứi none- túc ẩn đi mấy <li> con của <li>more</li> */
  display: none;
  /* position:absolute-giúp định vị trí tuyệt đối cho thành phần theo thành phần bao ngoài
  nghĩa là nó hiểu thẻ nav li ở trên là thẻ cha và nó sẽ làm thẻ con giữ vị trí cố định  */
  position: absolute;
  background-color: #fff;
  /* thuộc tính tạo đổ bóng cho hộp thoai */
  box-shadow:0 0 10px black ;
  /* đặt chiều ngang tối thiểu cho hộp thoại subbox */
  min-width: 60px;
}


/* định màu chữ cho các mục item của class.subnav */
#nav .subnav a{
    color:black;
    font-weight: bold;
    /*  chỉnh chiều cao padding của nội dung các mục ia>a của subnav nhỏ lại */
    line-height: 38px;
}

/* tạo pseudo class: hover khi nhấn vào more nó hiện subnav con */
#nav li:hover .subnav{
    display: block;
}

/* tạo pseudo class: hover vào các li a của class subnav */
#nav .subnav  li:hover {
    color:#000!important;
    background-color: #ccc!important;
    /* nó giúp hover full box: vì nó không định đc kích thước nên nó chỉ biết là lấy full */
    display: block;

}

/* themify icons support web */
#nav .edit-icon-down{
    /* tùy chỉnh kích thước icon down */
    font-size: 10px;
}

/* tùy chỉnh thẻ bao cho nút search */
#header .search-btn{
   float: right;
   padding: 0 20px;
}
/* sữa icon themify icon search */
#header .edit-icon-search{
   color: white;
   font-size: 20px;
   /* căn chỉnh đều nội dung theo chiều cao  */
   line-height: 46px;
}
/* tuyef chỉnh over: icon search */
#header .search-btn:hover{
    background-color: #f44336!important;
    display: block;
    /* thuộc tính hiển thị icon chuột khi hover vào đối tượng
    ngoài all-scroll có thể tham khảo rất nhiều cái khác
    */
    cursor: all-scroll;
}








/* *********************************************************************************************************************** */
/* =====================================Slider(ảnh động chuyển )=========================================== */
/* *********************************************************************************************************************** */
/* tạo ảnh chuyển */
#slider
{
 /* xác định đây là vị trí cha với các thuộc tính cố định đc thiết lặp ở trên */
  position: relative;
  margin-top: 46px;
  /* tùy chỉnh kích thước thẻ slider chiếm 50% chiều ngang của chính nó
  để khi co giãn thu nhỏ phóng to nó tự điều chỉnh bằng 50% kích thước ban đầu
  tạo độ tương thích
  */
  padding-top: 50%;
  /*cách viết tắt: 
   background: url('../img/band4.jpg') top center / cover no-repeat;
    + trong đó:
      ++ top center: giúp canh giữa
      ++ cover: được sử dụng để chỉ định kích thước của hình nền (background) sao
       cho nó bao phủ hoàn toàn phần nội dung của phần tử.
      ++ no-repeat: tránh lặp lại ảnh
  */

  /* dẫn url ảnh */
  background-image: url('../img/band3.jpg');
  /* vị trí đc canh đều giữa */
  background-position: top center;
  /* tùy chỉnh độ phủ kích thước bao hết slider */
  background-size: cover;
  /* tránh lặp ảnh */
  background-repeat: no-repeat;

}




/* tùy chỉnh content cha */
#slider .text-content{
  /* xác định position:absoblue để nó hiểu rằng thuộc tính vị trí
  phụ thuộc vào thẻ cha position:relative mà cụ thể là
  #slider của nó ở trên */
  position: absolute;
  /* thiết lập k/c dưới 47px */
  top: 47px;
  /* canh lề từ trái qua 50% chiều ngang của thẻ div = text-content */
  /* left: 50%; */
  /* chỉnh vị trí lùi lại theo trục x là chiều ngang width */
  /* transform: translateX(-50%); */

  /*==>  cách đơn gian hơn là chỉnh width: 100% hoặc right 0, left 0 */
  /* right: 0px;
  left: 0px; */
  width: 100%;

  /* cho nội dung cảnh đêu giữa-> lưu ý nội dung không phải thẻ div chưa nộindung */
  text-align: center;
  color: #f44336;
  font-weight: bold;
  /* đổ bóng cho chữa */
  text-shadow: 0 0 10px #000;
}
/* tùy chỉnh content con */
#slider .text-heading{
   margin-bottom: 10px;
   font-size: 60px;
}

/* tuy chỉnh mô tả */
#slider .text-description{
    margin-top: 10px;
    font-size: 40px ;
}




/* *********************************************************************************************************************** */
/* =================================Content(Nội dung chính-phần thân web)================================================= */
/* *********************************************************************************************************************** */
/* nội dung phần thân */



/* ======== */
/* >>>> About */
#content{
   
}

#content .content-section{
  width: 800px;
  /* Tự căn chỉnh phần hộp bao content đều hai bên trái phải
  --> mặc nhiên nó sẽ ra giữa
  */
  margin-left: auto;
  margin-right: auto;

  /* căn chỉnh đều nội dung  trong hộp div content */
  padding:64px 0px ;
}

/* căn chỉnh vị trí và tùy chỉnh cho 2 mục heading và subheading của thẻ div content */
#content .section-heading,
#content .section-subheading{
    text-align: center;
    margin-bottom: 10px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    /* thuộc tính letter-spacng: giúp giản các chữ ra trong một dòng */
    letter-spacing: 6px;
  
}

#content .section-subheading{
    font-size: 15px;
    font-style: italic;
    /* tạo độ mờ của chữ */
    opacity: 0.6;
}

/* tùy chỉnh content chính của about */
#content .about-content{
    /* justify thuộc tính căn đều  văn bản */
  text-align: justify;
  font-size: 18px;
  /* line-height căn chỉnh độ cao và rộng của chữ văn bản */
  line-height: 1.5;
}
/* các member thành viên */
#content .member-list{
   margin-top: 48px;
   margin-bottom: 10px;
   /* khi định vị trí bằng float: thì thẻ cha member-list
   cũng mất định tính bao các thẻ con-> nên dùng margin-bottom: bao nhiêu cũng mất đi định vj đó
   overflow: hidden làm khắc phục điều đó giúp thẻ member-list vẫn giữ đc khối bao các thẻ con bên trng
   nên định marin khộng bị lỗi */
   overflow: hidden;
}

#content .member-item{
    float: left;
    /* sử dụng hàm chia để phân điều bố cục 3 ảnh cho đều với thẻ div cah content */
    width: calc(100%/3);
    /* căn giữ ảnh và text */
    text-align: center;
}

#content .member-text{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    /* bo ảnh gốc tròn */
    border-radius: 10px;
}



/* ============================================ */
/* Mục TourDates -> các ljch trình và nơi diễn ra sự kiện âm nhạc */
.tour-section{
    background-color: #000;
}
.tour-section  ul  li{
   list-style-type: none;
}

.ticket-list{
    background: #fff;
    margin-top: 40px;
    padding: 10px;
}
.ticket-list .sold-out{
   
    width: 50;
    height: 80;
    background-color: #f44336;
    color: #fff;
    padding: 6px 8px;
    margin-left: 10px;
}
.ticket-list .quanlity{
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    font-weight: bold;
    float: right;
}

.ticket-list>li{
   padding: 11px 16px;
   font-size: 16px;
   border-bottom: solid 1px rgb(197, 188, 188);
   color: #757575;
}


/*các địa điểm du lịch*/









/* *********************************************************************************************************************** */
/* ======================================Footer(phần nội dung cuối trang)=========================================== */
/* *********************************************************************************************************************** */
/* thẻ tiêu đề cúi trang */
#footer{
  background-color: #ccc;
  height: 250px;
}

